body {
	line-height: 1;
	background-color: #0b75c8;
	color:black;
	font-size: 125%;
	font-family: Helvetica Neue, Helvetica, sans-serif;
    margin-top: 60px;
    padding: 0;
	text-align: center; /* !!! */
	min-width:600px;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
	min-width:500px;
}

p { text-align:left; }


.row-fluid {
	min-width: 140px;
}

#span1 {min-width: 20px;}